<html>
<head>
  <link rel="manifest" href="/manifest.json">
  <title>Live Event Log</title>
</head>
<body>
  <div id="app">
    <button type="button" @click="sendMeAPush">Send Me A Push</button><br>
    <div class="notification" v-for="note of notifications">{{note}}</div>
    <hr>
    <div class="message" v-for="msg of messages">{{msg[0]}}: {{JSON.stringify(msg[1])}}</div>
    <virebase ref="virebase"
      api-key="AIzaSyBZVuEpoZJJhaE9xfHSs6hgCUs3FVXx03E"
      auth-domain="web-glue.firebaseapp.com"
      database-url="https://web-glue.firebaseio.com"
      project-id="web-glue"
      storage-bucket="web-glue.appspot.com"
      messaging-sender-id="555685705898"
    ></virebase>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
  
  <script>
  var Virebase = Vue.extend({
    data () {
      return {
        messaging: null,
        deviceToken: null
      }
    },
    template: '<span></span>',
    props: [
      'apiKey',
      'authDomain',
      'databaseURL',
      'projectId',
      'storageBucket',
      'messagingSenderId'
    ],
    created () {
      // Initialize Firebase
      firebase.initializeApp(this.$props)
      // Retrieve Firebase Messaging object.
      this.messaging = firebase.messaging()
      // Callback fired if Instance ID token is updated.
      this.messaging.onTokenRefresh(() => this.getToken())
    },
    methods: {
      requestPermission () {
        this.messaging.requestPermission()
        .then(() => {
          console.log('Notification permission granted.')
          this.getToken()
        })
        .catch((err) => {
          console.log('Unable to get permission to notify.', err)
        })
      },
      getToken () {
        // Get Instance ID token. Initially this makes a network call, once retrieved
        // subsequent calls to getToken will return from cache.
        this.messaging.getToken()
        .then((currentToken) => {
          if (currentToken) {
            //  sendTokenToServer(currentToken)
            //  updateUIForPushEnabled(currentToken)
            console.log('currentToken =', currentToken)
            this.deviceToken = currentToken
          } else {
            // Show permission request.
            console.log('No Instance ID token available. Request permission to generate one.')
            // Show permission UI.
            //  updateUIForPushPermissionRequired()
            //  setTokenSentToServer(false)
          }
        })
        .catch(function(err) {
          console.log('An error occurred while retrieving token. ', err)
          //  showToken('Error retrieving Instance ID token. ', err)
          //  setTokenSentToServer(false)
        })
      }
    }
  })
  
  var app = new Vue({
    el: '#app',
    components: {
      'virebase': Virebase
    },
    data: {
      messages: [],
      notifications: [],
      deviceToken: ''
    },
    created () {
      this.socket = io()
      // How to listen to all events
      this.socket.on('*', function (msg) {
        app.messages.push(msg)
      })
      this.socket.on('build-status', function (msg) {
        console.log(msg)
        let s = msg.commit_status
        app.notifications.push(msg)
      })
      // How to listen to a specific event
      this.socket.on('alert', function (msg) {
        alert(JSON.stringify(msg))
      })
    },
    mounted () {
      this.$refs.virebase.messaging.onMessage((payload) => {
        console.log('payload =', payload)
        this.notifications.push(`${payload.notification.title}: ${payload.notification.body}`)
      })
    },
    methods: {
      sendMeAPush () {
        this.$refs.virebase.messaging.getToken()
        .then((token) => {
          if (token) {
            this.socket.emit('send-me-a-push', {deviceToken: token})
          } else {
            this.$refs.virebase.messaging.requestPermission()
          }
        })
        .catch((err) => {
          console.log('err =', err)
        })
      }
    }
  })
  </script>
</body>
</html>
